body {
  margin: 0;
  background: darken($brand-secondary, 15%);
  color: complement($brand-primary);

  font-family: sans-serif;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  line-height: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
