body {
  margin: 0;
  background: darken($brand-secondary, 15%);
  color: complement($brand-primary);

  font-family: sans-serif;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  line-height: inherit;
  font-size: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  min-height: 100vh;
}
