$brand-secondary: #475055;
$brand-primary: #e0bf99;
$brand-white: #e3e3e3;
$brand-blue: #0971b2;
$brand-red: #b21212;
$gutter: 2rem;
$brand-border: rgba($brand-primary, 0.2) solid 0.1rem;
@import 'base';
@import 'grid';
@import 'nav';
@import 'buttons';
@import 'file-status';
@import 'editor';
@import 'table';
@import 'alerts';

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-button {
  background: #ccc;
}

::-webkit-scrollbar-track-piece {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #eee;
}
