<div class="container">
  <div class="row">
    <h1>SQLite EZ</h1>
  </div>
</div>

<div class="container">
  <form {{action "submitQuery" query on="submit"}}>

    <div class="row">
        {{ivy-codemirror
          mode="sql"
          value=query
          lineNumbers=true
          fixedGutter=true
          lineWrapping=true
          tabSize=2
          smartIndent=true
          theme="solarized"
      }}
    </div>

    <div class="row">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>

  <div class="row">
    {{#if errMsg}}
      {{#bs-alert type="danger"}}{{errMsg}}{{/bs-alert}}
    {{/if}}

    {{#if successMsg}}
      {{#bs-alert type="success"}}{{successMsg}}{{/bs-alert}}
    {{/if}}

    {{#if loading}}
      {{#bs-alert type="info"}}Loading Query Results...{{/bs-alert}}
    {{/if}}
  </div>
</div>
